
<html>
<head>
    <meta charset="utf-8">
    <title>HTML5 Hacks Web Workers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript" language=JavaScript src="assets/js/demojs/aiWorker.js"></script>
    <style>
        .thing {
           position:absolute;
		   font-size: 35px;
        }
        .dying {
           color:#ff0000;
           font-weight:bold;
        }
		#global{height: 200px;}
     </style>
</head>

<body data-spy="scroll" data-target=".subnav" data-offset="50">
	
	  <!-- Navbar
	    ================================================== -->
	    <div class="navbar navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="/">HTML5 Hacks</a>
	          <div class="nav-collapse">
                <ul class="nav">
                    <li class="">
                    <a href="./inline.html">Inline</a>
                    </li>
                    <li class="">
                    <a href="./balls.html">Canvas</a>
                    </li>
                    <li class="active">
                    <a href="./artificial.html">AI</a>
                    </li>
                    <li class="">
                    <a href="./processimage.html">Images</a>
                    </li>
                    <li class="">
                    <a href="./jsonp.html">JSONP</a>
                    </li>                      
                    <li class="">
                    <a href="./shared-simple.html">Shared</a>
                    </li> 
                    <li class="">
                    <a href="./transfer.html">Transfer</a>
                    </li> 
                    <!-- <li class="">
                    <a href="./modules.html">Modules</a>
                    </li> -->                        
                </ul>
	          </div>
	        </div>
	      </div>
	    </div>

	    <div class="container">

			<!-- Masthead
			================================================== -->
			<header class="jumbotron subhead" id="overview">
			  <h1>HTML5 WebWorkers API</h1>
			  <p class="lead">Creating an Artificial Intelligence Library: Manipulating DOM elements with Timers, Sorting Arrays within Web Workers</p>
			</header>

			<!-- Forms
			================================================== -->
			<section id="forms">
			  <div class="row">
			    <div class="span6">
					.
			    </div>

			    <div class="span6">
			      <form class="form-horizontal">
			        <fieldset>

				      <!-- <div class="control-group">
			            <label class="control-label" for="select01">Approach</label>
			            <div class="controls">
			              <select id="approach">
			                <option>choose a value</option>
					        <option>with worker</option>
					        <option>without worker</option>																							
			              </select>
			            </div>
			          </div> -->

				      <div class="control-group">
			            <label class="control-label" for="select01">Number of Characters</label>
			            <div class="controls">
			              <select id="number">
			                <option>choose a value</option>
					        <option>10</option>
					        <option>15</option>																							
					        <option>20</option>	
							<option>25</option>	
							<option>30</option>
							<option>35</option>
							<option>40</option>
							<option>45</option>																					
							<option>50</option>
			              </select>
			            </div>
			          </div>

			          <div class="control-group">
			            <label class="control-label" for="textarea"></label>
			            <div class="controls">
						  <button id="go" class="btn-large btn-primary" href="#">Generate Movement</button>
			            </div>
			          </div>
			
			          <div class="control-group">
			            <label class="control-label" for="textarea"></label>
			            <div class="controls">
						  <button id="ai" class="btn-large btn-primary" href="#">Begin AI</button>
			            </div>
			          </div>
			
			        </fieldset>
			      </form>
				</div>
			  </div>
			</section>

	     <!-- Footer
	      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>HTML5 Hacks</p>
      </footer>
	    </div><!-- /container -->
	
    <script type="text/javascript">

        ///////////////////////////////////////////////////
        // Thing object
        ///////////////////////////////////////////////////

        var things = [], thingMap = {}, elemMap = {};

        var Thing = function(left, top, id) {
            this.id = id;
            this.minDx = -7; this.maxDx = 7;
            this.minDy = -7; this.maxDy = 7;
            this.x = this.xOld = left;
            this.y = this.yOld = top;
            this.pxTravelled = 7;
            elemMap[id] = createThingElem(left, top);
        }

        Thing.prototype.start = function() {
            var thisElem = elemMap[this.id];
            var thing = this;

            var move = function() {
                thing.x = bounded(thing.x + scaledRandomInt(thing.minDx,thing.maxDx),200,600);
                thing.y = bounded(thing.y + scaledRandomInt(thing.minDy,thing.maxDy),100,500);
                if (!thing.dead) {
                    setTimeout(move, 1);
                }
                thisElem.style.left = thing.x;
                thisElem.style.top = thing.y;
            };
            move();
        }

        var createThingElem = function(left, top) {
            var elem = document.createElement("i");
            elem.innerHTML = "";
            elem.className = "thing user-big";
            document.body.appendChild(elem);
            elem.style.left = this.x;
            elem.style.top = this.y;
            return elem;
        }

        ////////////////////////////////////////////////
        // utils
        ////////////////////////////////////////////////

        var toArray = function(arr) {
            return Array.prototype.slice.call(arr);
        }

        var removeFromArray = function(arr, val) {
            for (var i=0; i<arr.length; i++) {
                if (arr[i] === val) {
                    arr.splice(i, 1);
                }
            }
        }

        Function.prototype.curry = function() {
            if (arguments.length<1) {
                return this; //nothing to curry with - return function
            }
            var __method = this;
            var args = toArray(arguments);
            return function() {
                return __method.apply(this, args.concat(toArray(arguments)));
            }
        }

        var scaledRandomInt = function(min, max) {
            return Math.round(min + Math.random()*(max-min));
        }

        var bounded = function(value, lo, hi) {
            return Math.max(Math.min(value,hi),lo);
        }

        ///////////////////////////////////////////
        // response to worker
        //////////////////////////////////////////

        var updateThing = function(updateData) {
            updateThis = thingMap[updateData.id];
            updateElem = elemMap[updateData.id];
            delete updateData.id;

            if (updateData.kill) {
				console.log('during updateThing - kill is true')
                removeFromArray(things, updateThis); //biggest drag on browser performance
                updateElem.className += " dying";
                window.setTimeout(function() {updateElem.style.display = "none"; updateThis.dead = true}, 150);
                if (!things.length) {
                    window.setTimeout(clearIntervals,50);
                    console.log("the end");
                }
                return;
            }

            for (var prop in updateData) {
                updateThis[prop] = updateData[prop];
            }
            if (updateThis.symbol) {
                updateElem.innerHTML = updateThis.symbol;
            }
            if (updateThis.className) {
                updateElem.className = updateThis.className;
            }
        }

        ///////////////////////////////////////////
        // non worker library 
        //////////////////////////////////////////

		var things;
		var updates;

		// var scaledRandomInt = function(max, min) {
		//     return Math.round(min + Math.random()*(max-min));
		// }
		// 
		// var getDistance = function(x1,x2,y1,y2) {
		//     return Math.sqrt(Math.pow(Math.abs(x1-x2),2) + Math.pow(Math.abs(y1-y2),2));
		// }

		var actions = {
			fireToBelow: function(){
				var highest = things.sort(function(a, b){
					return a.y - b.y
				});
				updates = {};
				updates.action = 'fireToBelow';
				updates.id = highest[0].id;
				updates.minDy = -2;
				updates.maxDy = 3;
				updates.symbol = '';
				updates.className = 'thing icon-fire';		
				updateThing(updates);	
			},

			rocketToSky: function(){
				var lowest = things.sort(function(a, b){
					return b.y - a.y
				});
				updates = {};
				updates.action = 'rocketToSky';
				updates.id = lowest[0].id;
				updates.minDy = -3;
				updates.maxDy = 2;
				updates.symbol = '';
				updates.className = 'thing icon-plane';		
				updateThing(updates);	
			},	

			killSlowest: function(){
				var slowest = things.sort(function(a, b){
					return a.pxTravelled - b.pxTravelled
				});
				updates = {};
				updates.action = 'killSlowest';
				updates.id = slowest[0].id;
				updates.kill = true;
				updateThing(updates);	
			},	

			updatePaths: function(){
				for (var i = things.length-1; i; i--) {
					var t = things[i];
					t.pxTravelled += getDistance(t.xOld, t.x, t.yOld, t.y);
					t.xOld = t.x; t.yOld = t.y; 
				}
			}	
		}	

		var process = function(action){
		  console.log('within process')
		  console.log(action)
		  actions[action]();
		}

        ///////////////////////////////////////////
        // worker
        //////////////////////////////////////////

        var worker = new Worker("assets/js/demojs/aiWorker.js");

        worker.onmessage = function(e){
			console.log(e.data)
            updateThing(e.data);
        }

        var invokeWorker = function(action) {
			// console.log(things)
            worker.postMessage({
                'action': action,
                'things': things
            });
        }

        var clearIntervals = function() {
            for (var i=0;i<intervals.length;i++) {
                window.clearInterval(intervals[i]);
            }
        }

        ///////////////////////////////////////////////////
        // init
        ///////////////////////////////////////////////////

        init = function(num, approach) {
	
			if (approach === "with worker") {
				console.log('WITH WORKER');
            	var i = -1;
            	while (i++ < num) {
                	things[i] = new Thing(400, 300, i);
                	things[i].start();
                	thingMap[things[i].id] = things[i];
            	}
				$('#ai').click(function(e) {
					e.preventDefault();
					console.log('ai');
	        		var intervals = [];
	        		intervals[0] = window.setInterval(invokeWorker.curry('updatePaths'),1000);
	        		intervals[1] = window.setInterval(invokeWorker.curry('fireToBelow'),1000),
	        		intervals[2] = window.setInterval(invokeWorker.curry('rocketToSky'),1000);
	        		intervals[3] = window.setInterval(invokeWorker.curry('erradicateSlowest'),1000);
				});
	
			}else{
				console.log('WITHOUT WORKER');
				var i = -1;
            	while (i++ < num) {
                	things[i] = new Thing(400, 300, i);
                	things[i].start();
                	thingMap[things[i].id] = things[i];
            	}
				var intervals = [];
	        	intervals[0] = window.setInterval(process.curry('updatePaths'),1000);
	        	intervals[1] = window.setInterval(process.curry('fireToBelow'),1000),
	        	intervals[2] = window.setInterval(process.curry('rocketToSky'),1000);
	        	intervals[3] = window.setInterval(process.curry('erradicateSlowest'),1000);
			}
        };

        $('#go').click(function(e) {
			e.preventDefault();
			console.log('go');
			var num = $('select#number').val();
		    // var approach = $('select#approach').val();
			var approach = "with worker";
            init(num, approach);
        });
        
    </script>
</body>
</html>
