
<html>
<head>
    <meta charset="utf-8">
    <title>TechX 2012 - HTML5 Web Workers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/css/docs.css" rel="stylesheet">
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	    <style type="text/css">
	        #canvas {
				width: 575px;
				height: 300px;
	            background-color: #000;
	            cursor: pointer;
	        }
	        #myCanvas {
	            border: 1px solid #9C9898;
	        }

	        .thing {
	           position:absolute;
	        }
	        .dying {
	           color:#ff0000;
	           font-weight:bold;
	        }

	    </style>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	    <script type="text/javascript">
	    window.requestAnimFrame = (function(callback){
	        return window.requestAnimationFrame ||
	        window.webkitRequestAnimationFrame ||
	        window.mozRequestAnimationFrame ||
	        window.oRequestAnimationFrame ||
	        window.msRequestAnimationFrame ||
	        function(callback){
	            window.setTimeout(callback, 1000 / 60);
	        };
	    })();

	    function initBalls(){
			console.log('init')
	        balls = [];

	        var blue = "#3A5BCD";
	        var red = "#EF2B36";
	        var yellow = "#FFC636";
	        var green = "#02A817";


			// // L
			balls.push(new Ball(100, 49, 0, 0, green));
			balls.push(new Ball(105, 49, 0, 0, green));
			balls.push(new Ball(110, 49, 0, 0, green));
	        balls.push(new Ball(115, 49, 0, 0, green));
	        balls.push(new Ball(120, 49, 0, 0, green));
	        balls.push(new Ball(125, 49, 0, 0, green));
	        balls.push(new Ball(130, 49, 0, 0, green));
	        balls.push(new Ball(135, 49, 0, 0, green));



	        balls.push(new Ball(390, 105, 0, 0, green));
	        balls.push(new Ball(390, 118, 0, 0, green));
	        balls.push(new Ball(388, 128, 0, 0, green));
	        balls.push(new Ball(400, 128, 0, 0, green));

	        // G
	        // balls.push(new Ball(173, 63, 0, 0, blue));
	        // balls.push(new Ball(158, 53, 0, 0, blue));
	        // balls.push(new Ball(143, 52, 0, 0, blue));
	        // balls.push(new Ball(130, 53, 0, 0, blue));
	        // balls.push(new Ball(117, 58, 0, 0, blue));
	        // balls.push(new Ball(110, 70, 0, 0, blue));
	        // balls.push(new Ball(102, 82, 0, 0, blue));
	        // balls.push(new Ball(104, 96, 0, 0, blue));
	        // balls.push(new Ball(105, 107, 0, 0, blue));
	        // balls.push(new Ball(110, 120, 0, 0, blue));
	        // balls.push(new Ball(124, 130, 0, 0, blue));
	        // balls.push(new Ball(139, 136, 0, 0, blue));
	        // balls.push(new Ball(152, 136, 0, 0, blue));
	        // balls.push(new Ball(166, 136, 0, 0, blue));
	        // balls.push(new Ball(174, 127, 0, 0, blue));
	        // balls.push(new Ball(179, 110, 0, 0, blue));
	        // balls.push(new Ball(166, 109, 0, 0, blue));
	        // balls.push(new Ball(156, 110, 0, 0, blue));

	        // O
	        // balls.push(new Ball(210, 81, 0, 0, red));
	        // balls.push(new Ball(197, 91, 0, 0, red));
	        // balls.push(new Ball(196, 103, 0, 0, red));
	        // balls.push(new Ball(200, 116, 0, 0, red));
	        // balls.push(new Ball(209, 127, 0, 0, red));
	        // balls.push(new Ball(223, 130, 0, 0, red));
	        // balls.push(new Ball(237, 127, 0, 0, red));
	        // balls.push(new Ball(244, 114, 0, 0, red));
	        // balls.push(new Ball(242, 98, 0, 0, red));
	        // balls.push(new Ball(237, 86, 0, 0, red));
	        // balls.push(new Ball(225, 81, 0, 0, red));
	        // 
	        // // O
	        // var oOffset = 67;
	        // balls.push(new Ball(oOffset + 210, 81, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 197, 91, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 196, 103, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 200, 116, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 209, 127, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 223, 130, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 237, 127, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 244, 114, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 242, 98, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 237, 86, 0, 0, yellow));
	        // balls.push(new Ball(oOffset + 225, 81, 0, 0, yellow));
	        // 
	        // // G
	        // balls.push(new Ball(370, 80, 0, 0, blue));
	        // balls.push(new Ball(358, 79, 0, 0, blue));
	        // balls.push(new Ball(346, 79, 0, 0, blue));
	        // balls.push(new Ball(335, 84, 0, 0, blue));
	        // balls.push(new Ball(330, 98, 0, 0, blue));
	        // balls.push(new Ball(334, 111, 0, 0, blue));
	        // balls.push(new Ball(348, 116, 0, 0, blue));
	        // balls.push(new Ball(362, 109, 0, 0, blue));
	        // balls.push(new Ball(362, 94, 0, 0, blue));
	        // balls.push(new Ball(355, 128, 0, 0, blue));
	        // balls.push(new Ball(340, 135, 0, 0, blue));
	        // balls.push(new Ball(327, 142, 0, 0, blue));
	        // balls.push(new Ball(325, 155, 0, 0, blue));
	        // balls.push(new Ball(339, 165, 0, 0, blue));
	        // balls.push(new Ball(352, 166, 0, 0, blue));
	        // balls.push(new Ball(367, 161, 0, 0, blue));
	        // balls.push(new Ball(371, 149, 0, 0, blue));
	        // balls.push(new Ball(366, 137, 0, 0, blue));
	        // 
	        // // L
	        // balls.push(new Ball(394, 49, 0, 0, green));
	        // balls.push(new Ball(381, 50, 0, 0, green));
	        // balls.push(new Ball(391, 61, 0, 0, green));
	        // balls.push(new Ball(390, 73, 0, 0, green));
	        // balls.push(new Ball(392, 89, 0, 0, green));
	        // balls.push(new Ball(390, 105, 0, 0, green));
	        // balls.push(new Ball(390, 118, 0, 0, green));
	        // balls.push(new Ball(388, 128, 0, 0, green));
	        // balls.push(new Ball(400, 128, 0, 0, green));
	        // 
	        // // E
	        // balls.push(new Ball(426, 101, 0, 0, red));
	        // balls.push(new Ball(436, 98, 0, 0, red));
	        // balls.push(new Ball(451, 95, 0, 0, red));
	        // balls.push(new Ball(449, 83, 0, 0, red));
	        // balls.push(new Ball(443, 78, 0, 0, red));
	        // balls.push(new Ball(430, 77, 0, 0, red));
	        // balls.push(new Ball(418, 82, 0, 0, red));
	        // balls.push(new Ball(414, 93, 0, 0, red));
	        // balls.push(new Ball(412, 108, 0, 0, red));
	        // balls.push(new Ball(420, 120, 0, 0, red));
	        // balls.push(new Ball(430, 127, 0, 0, red));
	        // balls.push(new Ball(442, 130, 0, 0, red));
	        // balls.push(new Ball(450, 125, 0, 0, red));

	        return balls;
	    }

	    function getMousePos(canvas, evt){
	        // get canvas position
	        var obj = canvas;
	        var top = 0;
	        var left = 0;
	        while (obj.tagName != 'BODY') {
	            top += obj.offsetTop;
	            left += obj.offsetLeft;
	            obj = obj.offsetParent;
	        }

	        // return relative mouse position
	        var mouseX = evt.clientX - left + window.pageXOffset;
	        var mouseY = evt.clientY - top + window.pageYOffset;
	        return {
	            x: mouseX,
	            y: mouseY
	        };
	    }

	    function updateBalls(canvas, balls, timeDiff, mousePos){
	        var context = canvas.getContext("2d");
	        var collisionDamper = 0.3;
	        var floorFriction = 0.0005 * timeDiff;
	        var mouseForceMultiplier = 1 * timeDiff;
	        var restoreForce = 0.002 * timeDiff;

	        for (var n = 0; n < balls.length; n++) {
	            var ball = balls[n];
	            // set ball position based on velocity
	            ball.y += ball.vy;
	            ball.x += ball.vx;

	            // restore forces
	            if (ball.x > ball.origX) {
	                ball.vx -= restoreForce;
	            }
	            else {
	                ball.vx += restoreForce;
	            }
	            if (ball.y > ball.origY) {
	                ball.vy -= restoreForce;
	            }
	            else {
	                ball.vy += restoreForce;
	            }

	            // mouse forces
	            var mouseX = mousePos.x;
	            var mouseY = mousePos.y;

	            var distX = ball.x - mouseX;
	            var distY = ball.y - mouseY;

	            var radius = Math.sqrt(Math.pow(distX, 2) +
	            Math.pow(distY, 2));

	            var totalDist = Math.abs(distX) + Math.abs(distY);

	            var forceX = (Math.abs(distX) / totalDist) *
	            (1 / radius) *
	            mouseForceMultiplier;
	            var forceY = (Math.abs(distY) / totalDist) *
	            (1 / radius) *
	            mouseForceMultiplier;

	            if (distX > 0) { // mouse is left of ball
	                ball.vx += forceX;
	            }
	            else {
	                ball.vx -= forceX;
	            }
	            if (distY > 0) { // mouse is on top of ball
	                ball.vy += forceY;
	            }
	            else {
	                ball.vy -= forceY;
	            }

	            // floor friction
	            if (ball.vx > 0) {
	                ball.vx -= floorFriction;
	            }
	            else if (ball.vx < 0) {
	                ball.vx += floorFriction;
	            }
	            if (ball.vy > 0) {
	                ball.vy -= floorFriction;
	            }
	            else if (ball.vy < 0) {
	                ball.vy += floorFriction;
	            }

	            // floor condition
	            if (ball.y > (canvas.height - ball.radius)) {
	                ball.y = canvas.height - ball.radius - 2;
	                ball.vy *= -1;
	                ball.vy *= (1 - collisionDamper);
	            }

	            // ceiling condition
	            if (ball.y < (ball.radius)) {
	                ball.y = ball.radius + 2;
	                ball.vy *= -1;
	                ball.vy *= (1 - collisionDamper);
	            }

	            // right wall condition
	            if (ball.x > (canvas.width - ball.radius)) {
	                ball.x = canvas.width - ball.radius - 2;
	                ball.vx *= -1;
	                ball.vx *= (1 - collisionDamper);
	            }

	            // left wall condition
	            if (ball.x < (ball.radius)) {
	                ball.x = ball.radius + 2;
	                ball.vx *= -1;
	                ball.vx *= (1 - collisionDamper);
	            }
	        }
	    }

	    function Ball(x, y, vx, vy, color){
	        this.x = x;
	        this.y = y;
	        this.vx = vx;
	        this.vy = vy;
	        this.color = color;
	        this.origX = x;
	        this.origY = y;
	        this.radius = 10;
	    }

	    function animate(canvas, balls, lastTime, mousePos){
	        var context = canvas.getContext("2d");

	        // update
	        var date = new Date();
	        var time = date.getTime();
	        var timeDiff = time - lastTime;
	        updateBalls(canvas, balls, timeDiff, mousePos);
	        lastTime = time;

	        // clear
	        context.clearRect(0, 0, canvas.width, canvas.height);

	        // render
	        for (var n = 0; n < balls.length; n++) {
	            var ball = balls[n];
	            context.beginPath();
	            context.arc(ball.x, ball.y, ball.radius, 0, 2 * Math.PI, false);
	            context.fillStyle = ball.color;
	            context.fill();
	        }

	        // request new frame
	        requestAnimFrame(function(){
	            animate(canvas, balls, lastTime, mousePos);
	        });
	    }

	   $(document).ready(function() {
			console.log('onload')
	        var canvas = document.getElementById("myCanvas");
	        var balls = initBalls();
	        var date = new Date();
	        var time = date.getTime();
	        /*
	         * set mouse position really far away
	         * so the mouse forces are nearly obsolete
	         */
	        var mousePos = {
	            x: 9999,
	            y: 9999
	        };

	        canvas.addEventListener("mousemove", function(evt){
	            var pos = getMousePos(canvas, evt);
	            mousePos.x = pos.x;
	            mousePos.y = pos.y;
	        });

	        canvas.addEventListener("mouseout", function(evt){
	            mousePos.x = 9999;
	            mousePos.y = 9999;
	        });

	        animate(canvas, balls, time, mousePos);
	    });
		</script>

	  </head>

	  <body data-spy="scroll" data-target=".subnav" data-offset="50">

		  <!-- Navbar
		    ================================================== -->
		    <div class="navbar navbar-fixed-top">
		      <div class="navbar-inner">
		        <div class="container">
		          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </a>
		          <a class="brand" href="./index.html">Bootstrap</a>
		          <div class="nav-collapse">
		            <ul class="nav">
		              <li class="">
		                <a href="./balls.html">Canvas Balls</a>
		              </li>
		              <li class="">
		                <a href="./timers.html">Timers</a>
		              </li>
		              <li class="">
		                <a href="./adv-timers.html">Advanced Timers</a>
		              </li>
		              <li class="">
		                <a href="./shared.html">Shared Workers</a>
		              </li>
		            </ul>
		          </div>
		        </div>
		      </div>
		    </div>

	    <div class="container">

			<!-- Masthead
			================================================== -->
			<header class="jumbotron subhead" id="overview">
			  <h1>TechX 2012 - HTML5 WebWorkers API</h1>
			  <p class="lead">Breaking Down Work into Smaller Chunks, and Incremental DOM updates with Timers</p>
			</header>

			<!-- Forms
			================================================== -->
			<section id="forms">
			  <div class="row">
			    <div class="span6">
			      <form class="form-horizontal">
			        <fieldset>

				      <div class="control-group">
			            <label class="control-label" for="select01">Select Row Value</label>
			            <div class="controls">
			              <select id="row">
			                <option>choose a value</option>
					        <option>10</option>
					        <option>20</option>
					        <option>30</option>
					        <option>40</option>										
					        <option>50</option>	
					        <option>100</option>	
					        <option>200</option>	
					        <option>300</option>	
					        <option>400</option>																					
					        <option>800</option>																							
							<option>900</option>		
							<option>1000</option>
							<option>1100</option>
							<option>1300</option>
							<option>1500</option>
							<option>1700</option>											
			              </select>
			            </div>
			          </div>

			          <div class="control-group">
			            <label class="control-label" for="select01">Select Column Value</label>
			            <div class="controls">
			              <select id="col">
			                <option>choose a value</option>
					        <option>10</option>
					        <option>20</option>
					        <option>30</option>
					        <option>40</option>										
					        <option>50</option>	
					        <option>100</option>	
					        <option>200</option>	
					        <option>300</option>	
					        <option>400</option>																					
					        <option>800</option>																							
							<option>900</option>		
							<option>1000</option>
							<option>1100</option>
							<option>1300</option>
							<option>1500</option>
							<option>1700</option>												
			              </select>
			            </div>
			          </div>

				      <div class="control-group">
			            <label class="control-label" for="textarea">Output</label>
			            <div class="controls">
			              <textarea class="input-xlarge" id="textarea" rows="10"></textarea>
			            </div>
			          </div>

			          <div class="control-group">
			            <label class="control-label" for="textarea">Process</label>
			            <div class="controls">
			              <button id="worker" class="btn-small btn-danger" href="#">With Web Worker</button>
						  <button id="non-worker" class="btn-small btn-primary" href="#">Without Web Worker</button>
			            </div>
			          </div>
			        </fieldset>
			      </form>
			    </div>

			    <div class="span6">
				  <!-- <canvas id='canvas'></canvas> -->
				  <canvas id="myCanvas" width="578" height="200"></canvas>
				</div>
			  </div>
			</section>

	     <!-- Footer
	      ================================================== -->
	      <footer class="footer">
	        <p class="pull-right"><a href="#">Back to top</a></p>
	        <p>Designed and built with all the love in the world <a href="http://twitter.com/twitter" target="_blank">@twitter</a> by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
	        <p>Code licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
	        <p>Icons from <a href="http://glyphicons.com">Glyphicons Free</a>, licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
	      </footer>
	    </div><!-- /container -->

	    <!-- Le javascript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->

	    <script type="text/javascript" src="assets/js/demojs/timers.js"></script>

	    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
	    <script src="assets/js/jquery.js"></script>
	    <script src="assets/js/google-code-prettify/prettify.js"></script>
	    <script src="assets/js/bootstrap-transition.js"></script>
	    <script src="assets/js/bootstrap-alert.js"></script>
	    <script src="assets/js/bootstrap-modal.js"></script>
	    <script src="assets/js/bootstrap-dropdown.js"></script>
	    <script src="assets/js/bootstrap-scrollspy.js"></script>
	    <script src="assets/js/bootstrap-tab.js"></script>
	    <script src="assets/js/bootstrap-tooltip.js"></script>
	    <script src="assets/js/bootstrap-popover.js"></script>
	    <script src="assets/js/bootstrap-button.js"></script>
	    <script src="assets/js/bootstrap-collapse.js"></script>
	    <script src="assets/js/bootstrap-carousel.js"></script>
	    <script src="assets/js/bootstrap-typeahead.js"></script>
	    <script src="assets/js/application.js"></script>
	  </body>
	</html>
